.box {
    background-color: aqua;
    height: 100px;
    width: 100px;
    margin: 2px;
    border: 4px solid black;
    text-align: center;
    font-size: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 10px;
}

.x-mark {
    background-color: red;
    color: white;
}

.o-mark {
    background-color: yellow;
    color: black;
}

#news {
    font-size: xx-large;
    margin-left: 80px;
    text-align: center;
    width: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
